################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ocapi.Business/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Ocapi.Business/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Ocapi.Business/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.csprojAssemblyReference.cache
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.csproj.CoreCompileInputs.cache
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.assets.cache
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.AssemblyInfoInputs.cache
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.AssemblyInfo.cs
/Ocapi.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Ocapi.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Ocapi.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/.vs/ocapiWebAPI/DesignTimeBuild/.dtbcache
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.pdb
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.dll
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.csprojAssemblyReference.cache
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.csproj.FileListAbsolute.txt
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.csproj.CoreCompileInputs.cache
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.csproj.CopyComplete
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.assets.cache
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.AssemblyInfoInputs.cache
/Ocapi.Business/obj/Debug/netcoreapp2.0/Ocapi.Business.AssemblyInfo.cs
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.pdb
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.dll
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.csproj.FileListAbsolute.txt
/Ocapi.Business/obj/Debug/netcoreapp2.1/Ocapi.Business.csproj.CopyComplete
/Ocapi.Business/obj/project.assets.json
/Ocapi.Business/obj/Ocapi.Business.csproj.nuget.g.targets
/Ocapi.Business/obj/Ocapi.Business.csproj.nuget.g.props
/Ocapi.Business/obj/Ocapi.Business.csproj.nuget.cache
/Ocapi.Business/obj
/Ocapi.Data/bin/Debug
/Ocapi.Data/obj
/Ocapi.Entities/bin/Debug
/Ocapi.Entities/obj
/Ocapi.Business/bin/Debug
/Ocapi.Api/bin/Debug/netcoreapp2.1
/Ocapi.Api/obj/Debug/netcoreapp2.1
/Ocapi.Api/obj
